* {
  padding: 0px;
  margin: 0px;
}

:root {
  /* Color */
  --neutral1: #111111;
  --neutral2: #4f4f4f;
  --neutral3: #767676;
  --neutral4: #969696;
  --neutral5: #FFFFFF;

  --back1: #f7f7fb;
  --back2: #e9e9ed;
  --back3: #dfdfdf;

  --main1: #9112bc;
  --main2: #be64d5;
  --main3: #e3bdec;

  --state1: #0075ff;
  --state2: #e5f1ff;

  --accent1: #ff6b6b;

  --state1: #0075ff;
  --state2: #e5f1ff;

  /* Typography */
  --title: 700 50px/1.2 'Pretendard', sans-serif;
  --h1: 700 40px/1.2 'Pretendard', sans-serif;
  --h2: 700 36px/1.2 'Pretendard', sans-serif;
  --h3: 600 24px/1.2 'Pretendard', sans-serif; 
  --subtitle1: 700 28px/1.2 'Pretendard', sans-serif;
  --subtitle2: 700 18px/1.2 'Pretendard', sans-serif;
  --subtitle3: 700 16px/1.2 'Pretendard', sans-serif;
  --body1: 400 20px/1.4 'Pretendard', sans-serif;
  --body2: 400 18px/1.6 'Pretendard', sans-serif;
  --body3: 400 14px/1.6 'Pretendard', sans-serif;
  --body4: 400 10px/1.6 'Pretendard', sans-serif;
  --button1: 700 24px/1.2 'Pretendard', sans-serif;
  --button2: 700 16px/1.2 'Pretendard', sans-serif;
  --button3: 500 14px/1.2 'Pretendard', sans-serif;

  /* Mobile Typography */
  --m-title: 700 60px/1.2 'Pretendard', sans-serif;
  --m-h1: 700 36px/1.2 'Pretendard', sans-serif;
  --m-h2: 700 24px/1.2 'Pretendard', sans-serif;
  --m-subtitle1: 700 18px/1.2 'Pretendard', sans-serif;
  --m-subtitle2: 700 16px/1.2 'Pretendard', sans-serif;
  --m-body1: 400 16px/1.6 'Pretendard', sans-serif;
  --m-body2: 400 14px/1.6 'Pretendard', sans-serif;
  --m-button1: 700 20px/1.2 'Pretendard', sans-serif;
  --m-button2: 700 16px/1.2 'Pretendard', sans-serif;
}