.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 97.5%;
  background: var(--neutral5);
  background: rgba(245, 244, 250, 0.80); /* 예시: 밝은 회색/보라 반투명 */
  backdrop-filter: blur(8px);            /* 더 스타일리시하게 (선택) */
  box-shadow: 0 1px 6px rgba(0,0,0,0.04);
  height: 75px;
  padding: 0 20px;
}

.header-logo-box {
    display: flex;
    align-items: center;
    gap: 16px;
    opacity: 1;
    cursor: pointer
}

.header-logo {
    width: 24px;
    height: 24px;
    opacity: 1;
    background: none;
}

.header-title {
  font: var(--subtitle3);
  color: var(--neutral1);
}

.header-btns {
  display: flex;
  align-items: center;
  gap: 16px;
}

.archive {
  display: flex;
  width: 76px;
  height: 39px;
  justify-content: center;
  align-items: center;

  border-radius: 10px;
  border: 1px solid #D9D9D9;
  background: var(--neutral5);

  font: var(--button2);
  color: var(--neutral1);

  cursor: pointer;
}

.subscribe1 {
  display: flex;
  width: 76px;
  height: 39px;
  justify-content: center;
  align-items: center;

  font: var(--button2);
  color: var(--neutral5);
  border-radius: 10px;
  background: #9112BC;

  border: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .header {
    height: 60px;
    padding: 0 10px;
  }

  .header-logo {
    width: 20px;
    height: 20px;
  }

  .header-title {
    font: var(--subtitle3);
  }

  .archive, .subscribe1 {
    width: 60px;
    height: 30px;
    font: var(--button3);
  }
} 