.home-howtouse-background {
  width: 100%;
  background: var(--back1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-howtouse-container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  padding-top: 170px;
  padding-bottom: 170px;
  width: 100%;
  gap: 16px;
}

.home-howtouse-container h2 {
  font: var(--h2);
  color: var(--neutral1);
  margin-bottom: 12px;
  margin-left: 12px;
  text-align: left;
}

/* 카드 리스트 영역 */
.home-howtouse-cards {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.home-howtouse-card1 {
  background: #fff;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  width: 590px;
}

.home-howtouse-card2 {
  background: #fff;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  width: 590px;
}

.home-howtouse-img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 360px;
  object-fit: cover;
  background: #d9d9d9;
  display: block;
}

.home-howtouse-cardtext {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 8px;
  padding: 16px 24px 24px 24px;
}

.home-howtouse-cardtext h3 {
  font: var(--subtitle1);
  color: var(--neutral1);
}

.home-howtouse-cardtext p {
  font: var(--body1);
  color: var(--neutral3);

}

.home-howtouse-container {
  /* fade-in 아래에서 올라옴 기본값 */
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.8s, transform 0.8s;
}
.home-howtouse-container.visible {
  opacity: 1;
  transform: translateY(0);
}

/* 카드 1: 왼쪽에서 날아옴 */
.home-howtouse-card1 {
  opacity: 0;
  transform: translateX(-60px);
  transition: opacity 0.8s 0.2s, transform 0.8s 0.2s;
}
.home-howtouse-card1.visible {
  opacity: 1;
  transform: translateX(0);
}

/* 카드 2: 오른쪽에서 날아옴 */
.home-howtouse-card2 {
  opacity: 0;
  transform: translateX(60px);
  transition: opacity 0.8s 0.5s, transform 0.8s 0.5s;
}
.home-howtouse-card2.visible {
  opacity: 1;
  transform: translateX(0);
}


@media (max-width: 768px) {
  .home-howtouse-container {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .home-howtouse-container h2 {
    font: var(--h3);
    margin-left: 0;
    text-align: center;
  }

  .home-howtouse-cards {
    flex-direction: column;
    gap: 40px;
  }

  .home-howtouse-card {
    width: 100%;
  }

  .home-howtouse-img {
    height: 200px;
  }

  .home-howtouse-cardtext {
    padding: 12px 16px 16px 16px;
  }

  .home-howtouse-cardtext h3 {
    font: var(--subtitle2);
  }

  .home-howtouse-cardtext p {
    font: var(--body2);
  }
}