@keyframes mailFloat {
  0%   { transform: rotate(-20deg) translateX(0) translateY(0); }
  50%  { transform: rotate(-20deg) translateX(-5px) translateY(20px); }
  100%  { transform: rotate(-20deg) translateX(0) translateY(0px); }
}

.main {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  background-color: var(--back1);
  align-items: center;
}

.main-bg-img {
  width: 100%;
  object-fit: cover;
  display: block;
}

.main-mail {
  position: absolute;
  top: 25%;
  left: 25%;
  transform: translate(-50%, -50%);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-mail-img {
  position: absolute;
  width: 30vw;
  height: auto;
  opacity: 0;
  transition: opacity 0.7s ease;
  left: 0;
  top: 0;
}

.main-mail-img.visible {
  opacity: 1;
  z-index: 2;
}

.main-mail-img.hidden {
  opacity: 0;
  z-index: 1;
}

/* 모든 메일 이미지에 동일한 회전 적용 */
.mail-rotated {
  transform: rotate(-20deg);
  animation: mailFloat 2s ease-in-out infinite;
}

