.home-howtouse-background {
  width: 100vw;
  background: var(--back1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-howtouse-container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  padding-top: 170px;
  padding-bottom: 170px;
  width: 100%;
  gap: 16px;
}

.home-howtouse-container h2 {
  font: var(--h2);
  color: var(--neutral1);
  margin-bottom: 12px;
  margin-left: 12px;
  text-align: left;
}

/* 카드 리스트 영역 */
.home-howtouse-card {
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 0 0 1px #ebebef;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 88px;
  padding: 24px 65px 32px 65px;
  max-width: 1200px;

}

.home-howtouse-img {
  width: 380px;
  height: 260px;
  border-radius: 20px;
  object-fit: cover;
  background: #d9d9d9;
  display: block;
}

.home-howtouse-cardtext {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 8px;
}

.home-howtouse-cardtext h3 {
  font: var(--subtitle1);
  color: var(--neutral1);
  line-height: 1.37;
}

.home-howtouse-cardtext p {
  font: var(--body1);
  color: var(--neutral3);

}

@media (max-width: 900px) {
  .home-howtouse-container {
    padding-top: 50px;
    padding-bottom: 50px;
    gap: 12px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .home-howtouse-container h2 {
    font: var(--h3);
    margin-bottom: 8px;
    margin-left: 0px;
    text-align: center;
  }

  .home-howtouse-card {
    flex-direction: column;
    padding: 16px;
    gap: 24px;
  }

  .home-howtouse-img {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
  }

  .home-howtouse-cardtext {
    align-items: center;
    text-align: center;
    gap: 6px;
  }

  .home-howtouse-cardtext h3 {
    font: var(--subtitle2);
    line-height: 1.4;
  }

  .home-howtouse-cardtext p {
    font: var(--body2);
  }
}