.home-review-background {
  background: #f9fafd;
  padding: 170px 0;
  align-items: center;
}

.home-review-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0;
  gap: 16px;
}

/* 후기 타이틀 */
.home-review-title {
  font: var(--h2);
  color: var(--neutral1);
}

/* 후기 카드 래퍼 */
.home-review-cards {
  display: flex;
  gap: 12px;
  max-width: 1200px;
  overflow-x: auto;
  scrollbar-width: none;         /* Firefox */
  -ms-overflow-style: none;      /* IE/Edge */
}
.home-review-cards::-webkit-scrollbar {
  display: none;                 /* Chrome/Safari */
}

/* 단일 후기 카드 */
.home-review-card {
  background: var(--neutral5);
  border-radius: 20px;
  padding: 24px;
  width: 210px;
  box-shadow: 0 6px 12px 0 rgba(0, 27, 100, 0.04);
}

.home-review-profile {
  display: flex;
  gap: 16px;
}

.home-review-photo {
  display: block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #ddd;
}

.home-review-info {
  width: 150px;
}

.home-review-card h3 {
  font: var(--subtitle2);
  color: var(--neutral1);
  margin: 0;
}

.home-review-card p {
  font: var(--body3);
  color: var(--neutral3);
  margin-top: 4px;
  margin-bottom: 12px;
}

.home-review-card .home-review-card-content {
  font: var(--body3);
  color: var(--neutral1);
}

@media (max-width: 768px) {
  .home-review-background {
    padding: 50px 0;
  }

  .home-review-container {
    padding: 0 20px;
    gap: 12px;
  }

  .home-review-title {
    font: var(--h3);
    margin-left: 20px;
  }

  .home-review-cards {
    flex-direction: column;
    gap: 16px;
  }

  .home-review-card {
    width: 90%;
    padding: 16px;
  }

  .home-review-photo {
    width: 40px;
    height: 40px;
  }

  .home-review-info {
    width: calc(100% - 56px);
  }

  .home-review-card h3 {
    font: var(--subtitle3);
    margin-bottom: 2px;
  }

  .home-review-card p {
    font: var(--body4);
    margin-bottom: 8px;
  }

  .home-review-card .home-review-card-content {
    font: var(--body3);
  }
}