.mail-bg {
    background: var(--back1);
    padding: 80px 360px 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.mail-container {
    width: 100%;
    margin: 0 auto;
}

.mail-line {
    border: none;
    border-bottom: 1px solid var(--neutral4);
    margin-bottom: 10px;
}

.mail-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 8px;
    gap: 16px;
    margin-bottom: 10px;
}

.mail-back {
    height: 20px;
}

.mail-title {
    font: var(--body2);
    color: var(--neutral2);
}

.mail-content-container {
    width: 100%;
    background-color: var(--back2);
    padding: 10px 0;
    margin-bottom: 10px;
}

.mail-content {
    margin: auto;
    width: 600px;       /* 너비 고정 */
    text-align: center; /* 가운데 정렬 */
}

.mail-content img {
    width: 600px;
    height: auto;
}

.mail-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.mail-button {
    cursor: pointer;
}